.home-page{
    background-color: #76a5af;
}

body{
    font-family: fantasy;
}

.home-content-div{
    text-align: center;
}

.home-content-div p{
    font-size: small;
}

.navbar{
    background-color:  #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar a{
    text-decoration: none;
    font-size: larger;
}

.facts-page{
    background-color: #f6b26b;
}

.facts-content-div{
    margin-left: 10%;
}

.facts-content-div li{
    font-size: large;
}

.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button{
    border-radius: 30%;
    padding: 1%;
    margin: 1%;
    background-color: lightgreen;
    border-color: palegreen;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}

.gallery-page{
    background-color: #dcabfa;
}